/* General styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* Navbar styles */
.navbar {
    background-color: rgb(40, 58, 81);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0; /* Adjust the top and bottom padding as needed */
    z-index: 1000; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 150px;
    height: auto;
    background-color: transparent;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Background image section */
.background-port {
    background-image: url('img/backgroundport.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.overlay-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.overlay-text p {
    font-size: 1.2rem;
}

/* White button styles */
.white-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.white-button:hover {
    background-color: transparent;
    color: #fff;
}

/* Video background section */
.video-background {
    background-color: rgb(40, 58, 81); /* Same color as the navbar */
    padding: 50px 0; /* Adjust padding as needed */
}

.video-container {
    position: relative;
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: auto;
    border: 10px solid #fff; /* Noticeable border */
    box-sizing: border-box;
}

/* Value proposition section */
.value-proposition {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}
.testimonials {
    background-color: rgb(40, 58, 81);
    padding: 50px 0;
    text-align: center;
    color: #fff;
}
.testimonials .grid-item img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}
.value-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-item h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.grid-item p {
    font-size: 1rem;
}

/* Value proposition section */
.tarifas {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}
.shop {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Faint shadow */
    border-radius: 10px; /* Rounded border */
    padding: 20px;
    text-align: center;
    max-width: 50%; /* Adjust the width */
    margin: 0 auto; /* Center the div horizontally */
}
.shop-title {
    margin-bottom: 20px;
}

.shop-title h1 {
    font-size: 2.5rem; /* Large title */
    margin-bottom: 10px;
}

.shop-title h2 {
    font-size: 1.5rem; /* Smaller title */
}

.features {
    text-align: left;
    list-style: none;
}

.features li {
    font-size: 1rem; /* Smaller text size */
    margin-bottom: 5px;
}